extends layout
    
block content
  h1 #{title}
  form(method='POST', action='/athletes/add')
    #form-group
      label Name:
      input.form-control(name='name', type='text')
      label LastName:
      input.form-control(name='lastname', type='text')
    #form-group
      label Sports:
      input.form-control(name='sports', type='text')
    br
    #form-group
      label Program:
      input.form-control(name='program', type='text')
    #form-group
      label Year:
      input.form-control(name='year', type='text')
    #form-group
      label Medal:
      input.form-control(name='medal', type='text')
    br
    input.btn.btn-primary(type='submit', value='Submit')
   
